.platform-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap:20px;
    align-items: center;
}
.platform-item-container{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 160px;
    align-items: center;
    border-radius: 6px;
    border: 2px dashed #e0e0e0;
    background-color: #f2f3f4;
    cursor: pointer;
    
}

.platform-item-container img{
    height: 80px;
    width: 120px;
    background-color: transparent;
}
.platform-item-container:nth-child(1){
    padding-top: 8px;
}
.platform-item-container.selected {
    background-color: #feecec;    
    border: 2px dashed #ffc0c0;      
}